* {
  display: block;
  margin: auto;
  background-color: #1a1a1D;
  color:whitesmoke;
  font-family: sans-serif;
}
head{
  display: none;
}
header{
  max-width: 300px;
  border-style: solid;
  border-width: 10px;
  border-color: teal;
}
body{
  max-width: 1280px;
  padding: 40px;
}
h1{
  max-width: 400px;
  text-align: center;
}
script{
  display:none;
}
button{
  margin-top: 16px;
  background-color: teal;
}
